.main {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flow-root;
    height: auto;
    min-height: calc(100% - 42px);
    background-attachment: fixed;
    padding-top: 2em;
}

body, html {
    height: 100%;
}

.phx-connected {
    width: 100%;
}

a {
    color: #4158D0;
}

.ui.inverted.text.gradient.menu {
    background-color: #4158D0!important;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
}

.mb-0 {
    margin: 0!important;
}

.mb-1 {
    margin-bottom: 1rem!important;
}

.mt-3 {
    margin-top: 3rem!important;
}

.mv-1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.mh-1 {
    margin-left: 1em!important;
    margin-right: 1em!important;
}

.p-0 {
    padding: 0!important;
}

.h-50 {
    height: 50%;
}

.yelling {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.w-auto {
    width: auto!important;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.scrollable {
    &.horizontal {
        overflow-x: auto;
        white-space: nowrap;
    }
    &.vertical {
        overflow-y: auto;
        white-space: nowrap;
    }
}

.busd::before {
    content: "B";
    /* display: block; */
    color: black;
    width: 20px;
    font-family: sans-serif;
}

.dai::before {
    content: "D";
    /* display: block; */
    color: black;
    width: 20px;
    font-family: sans-serif;
}

.dogecoin::before {
    content: "D";
    /* display: block; */
    color: black;
    width: 20px;
    font-family: sans-serif;
}

.desktop-padding {
    margin-left: 1em!important;
    margin-right: 1em!important;
}

#balance {
    min-height: 250px;
}

@media only screen and (min-width: 0px) and (max-width: 723px) {
    .ui.container.desktop-padding {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}
