<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CoinPortfolio · Phoenix Framework</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/semantic/dist/semantic.min.css") %>">
    <script src="<%= Routes.static_path(@conn, "/semantic/dist/semantic.min.js") %>"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel='manifest' href="<%= Routes.static_path(@conn, "/manifest.webmanifest") %>">
    <script defer type="module">
      // This is the "Offline copy of pages" service worker
      /*
      This code uses the pwa-update web component https://github.com/pwa-builder/pwa-update to register your service worker,
      tell the user when there is an update available and let the user know when your PWA is ready to use offline.
      */

      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

      const el = document.createElement('pwa-update');
      document.body.appendChild(el);
    </script>
  </head>
  <body>
    <%= render "_user_menu.html", assigns %>
    <main role="main" class="main">
      <%= if get_flash(@conn, :info) do %>
        <p class="ui info message" role="alert"><i class="close icon"></i> <%= get_flash(@conn, :info) %></p>
      <%end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="ui negative message" role="alert"><i class="close icon"></i> <%= get_flash(@conn, :error) %></p>
      <%end %>
      <%= @inner_content %>
    </main>
    <script defer>
      $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade');
      });
    </script>
  </body>
</html>
